/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.vscode/extensions
/.vscode/launch.json
/.vscode/settings.json
/.vscode/tasks.json
/.vscode/extensions.json
/.vscode/argv.json
/.vscode/argv.json~
/.vscode/argv.json.bak
/.vscode/argv.json.bak~
/.vscode/argv.json.bak.bak
/.vscode/argv.json.bak.bak~
/.vscode/argv.json.bak.bak.bak
/.vscode/argv.json.bak.bak.bak~

